---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: busybox-pvc
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: busybox
  namespace: default
spec:
  containers:
  - image: busybox
    command: ['sh', '-c', 'while true; do echo success! $date >> /output/output.log; sleep 5; done']
    imagePullPolicy: IfNotPresent
    name: busybox
    volumeMounts:
    - name: bb-volume
      mountPath: "/output"
  restartPolicy: Always
  volumes:
  - name: bb-volume
    persistentVolumeClaim:
      claimName: busybox-pvc
