---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis4-pvc
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: redis4
  namespace: default
spec:
  containers:
  - name: nginx
    image: nginx
    ports:
    - name: "http-server"
      containerPort: 80
    volumeMounts:
    - name: redis-volume
      mountPath: "/usr/share/nginx/html"
  volumes:
  - name: redis-volume
    persistentVolumeClaim:
      claimName: redis4-pvc
