apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx1
  namespace: dev01
  labels:
    app: nginx1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx1
  template:
    metadata:
      labels:
        app: nginx1
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
          - containerPort: 80
        lifecycle:
          preStop:
            sleep:
              seconds: 15
      priorityClassName: low-priority
      terminationGracePeriodSeconds: 45
---
apiVersion: v1
kind: Service
metadata:
  name: nginx1
  namespace: dev01
spec:
  type: NodePort
  selector:
    app: nginx1
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30010
